@keyframes example {
	from {
		transform: translateY(1px);
	}
	to {
		transform: translateY(-5px);
	}
}

.main {
	display: grid;
	grid-template-areas:
		"header"
		"store"
		"features"
		"pages"
		"footer";
	gap: 25px;
	width: 95%;

	margin: 0 auto;
}
.carroucel {
	margin: 0 auto;
	margin-top: 10px;
}
.header h1 {
	grid-area: header;
}
.store {
	grid-area: store;
}
.buttons {
	margin: 10px auto;
}
.features {
	grid-area: features;
	background-color: #f8dfdf;
	text-align: justify;
	padding: 10px;
	margin: 0 auto;
	border-radius: 5px;
}
.features h3 {
	color: #e88f9e;
	display: grid;
	grid-template-columns: 30px auto;
}
.icon {
	animation: ease-in-out 3s infinite alternate;
	animation-name: example;
}

.pages {
	grid-area: pages;
	width: 98%;
	margin: 0 auto;
	border-radius: 5px;
}
.footer {
	grid-area: footer;
}

@media (min-width: 600px) {
	.main {
		gap: 50px;
		margin-top: 100px;
	}
	.header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "carroucel title" "carroucel store";
		align-items: end;
		margin: 0 auto;
		max-width: 1000px;
		gap: 50px;
	}
	.carroucel {
		grid-area: carroucel;
	}
	.header h1 {
		grid-area: title;
	}
	.features {
	}
	.feature {
		padding: 20px;
		font-size: large;
	}
	.footer {
		gap: 0px;
	}
}
