.main {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.store {
	background-color: #f8dfdf;
}
.features {
	display: flex;
	flex-direction: column;
}
.feature {
	margin: 0 auto;
	width: 90%;
	display: flex;
	flex-direction: row;
	padding: 15px;
}
.featureDescription {
	display: flex;
	flex-direction: column;
	text-align: justify;
}

.buttonsContainer > button {
	width: 90%;
	margin: 5px auto;
}
.buttonsContainer {
	margin-bottom: 20px;
}
.pages {
	background-color: #f8dfdf;
	height: 150%;
}

@media (min-width: 600px) {
	.carroucel {
		max-width: 40%;
	}
	.features {
		background-color: #f8dfdf;
		flex-direction: row;
		margin-bottom: 100px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.body {
		display: flex;
		flex-direction: row-reverse;
	}
	.store {
		width: 50%;
		display: flex;
		flex-direction: column;
		height: 100%;
		background-color: #efd2d2;
		position: relative;
		top: -171px;
		left: 17px;
	}
}
